html {
    height: 100%;
    padding:0;
    
}

body {
    background: #9E9E9E;
       
    height:100%;
    margin:0;
    
}



div {
    display:inline-block;
}


p {
    width:100px;
}

.padp {
    margin-bottom:2px;
    margin-top:2px;
    padding-bottom:2px;
    padding-top:2px;
}

#navbar {

    max-width:200px;
    width:auto;
	min-width:100px;
    margin:auto;
    float: left;
    border-style:solid;
    border-radius: 6px;
    border-color:black;
    max-height:1400px;
    height:1000px;
	text-align:inherit;
    margin-right:15px;
    box-shadow: black 2px 2px 14px;
	background:#2BFAFA;
}

#localisation{
	margin-top:30px;
	text-align: center;
	font-size:12px;
	
}

#adresse {
    width:100%;
    margin-top: 10px;
    text-align: center;
    font-size:12px;
}

#page {
/*    max-width:1030px;
    width:1030px;*/
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:50px;
    max-height:1400px;
    height:1000px;
    display:inline-block;
    
    
}

#slider{
    display:block;
    width:100%;
    text-align:right;
    border-bottom-style:solid;
    border-bottom-color:#03224C;
     border-width:1px;
     background:#03224C;
     box-shadow: #03224C 2px 2px 14px;


}

#slider:hover{
	background:#FF0000;
}

#caseSli {
    height: 42px;
    width:  52px;
    background-image:url(u2ptLbB0Osa.png);
    background-position: 0 -206px;
    text-align:center;
    border-left-style:solid;
    border-color:black;
    border-width:1px;    
    font: arial ;
    color: whitesmoke;
}

.case{
    font-family:Arial;
    text-shadow:#008080 0px 0px 8px;
    padding-top:10px;
    display:block;
    width:100%;
	font-size: 12px;
    text-align:center;
    height:50px;
    max-height:80px;
    background:#2BFAFA;
    border-bottom:solid 1px;
    border-color:black;
    box-shadow:black 0px 4px 18px;
}



.case p{
    vertical-align:middle;
    display:inline;

}

.case:hover{
	text-decoration:underline;
	background:#E89C0C;
}

#pageActive {
    padding-left:10px;
    width:86%;
    border-style:ridge;
    border-radius:6px;
    border-color:#003366; 
    box-shadow: #677179 10px 10px 15px;
    margin:auto;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    max-height:1400px;
    height:1000px;
    clear:both;
    box-shadow: #03224C 2px 2px 14px;
    background: #EFEFEF;
}

#item {
    font-family:'Lucida Bright';
    width:98%;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:0px;
    margin-top:0px;
    height:100%;
    display:block;
}

#nomProduit {
    float: left;
    vertical-align:top;
    margin-top:40px;
    margin-left:25px;
    font-family:'Lucida Calligraphy';
    font-size:30px;
    clear:right;
}


#prixProduit{
    display:block;
    float:right;
    width:300px;
    height:365px;
    margin-top:40px;
    margin-right:15px;
    border-style:groove;
    border-color:black;
    border-width:1px;
    box-shadow:black 2px 2px 6px;
}

#boxPrix {
    margin-top:40px;
    margin-left:10px;
    margin-right:10px;
    width:94%;
}

#prixNor {
    
    font-size:20px;
    display:block;
    clear:both;
}

#prixRemise{
    margin-top:8px;
    font-size:26px;
    display:block;
    clear:both;
}

#addListe{
    margin-top:40px;
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    left:auto;
    right:auto;
    height:30px;
    width:140px;
    
}

#suppr{
    margin-top:18px;
    font-size:12px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    left:auto;
    right:auto;
    display:block;
}

#inpricebox{
    margin-top:5px;
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    left:auto;
    right:auto;
    height:40px;
    width:140px;
}

hr{
    visibility:hidden;
}

h1{
    display:inline-block;

}

#header {
    font-family: Verdana;
    font-size:22px;
    max-width:500px;
    text-shadow: 0px 0px 9px red;
    float:left;
    padding-left:50px;
}

#logo{
    
    margin-top:0px;
    float:left;
    border:inherit;
    box-shadow:inherit;
    max-height:100px;
    max-width:100px;
    margin-right:30px;
    
}

#connection{
    margin-top:15px;
    color:black;
    display:inline-block;
    font-family: Verdana;
    float:right;
    margin-right:20px;
}

#loggeur{
    margin:7px;
}
#inscription{
    margin:7px;
}

#loggeur:hover {
    text-decoration:underline;
}
#inscription:hover{
    text-decoration:underline;
}

#imageProduit{
    clear:both;
    display:inline-block;  
    margin-left:300px;
    margin-top:60px;
    height:auto;
    width:auto;
}

img{
    border-style:groove;
    border-color:black;
    border-radius:4px;
    border-width:1px;
    max-height:350px;
    max-width:350px;
    box-shadow: black 2px 2px 20px;
    
}

#descriptionProduit{
    margin-left:50px;
    margin-right:50px;
    padding-left:20px;
    padding-right:20px;
}

                                            //ICI ????
.billet {
    max-width:1000px;
    width:1000px;
    min-height:150px;
    max-height:300px;
    border-style:solid;
    border-width:1px;
    border-radius:20px 2px;
    border-color:#A91101;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    box-shadow: #A91101 2px 2px 10px;
    color:whitesmoke;
    background-image:url(https://pbs.twimg.com/media/BpDJD2yIMAAi2lx.jpg:large);
    background-position-y: -70px;
    background-size:auto;
    
}


.billet:hover {
    animation-name: backScreen;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    min-height:160px;
    width:1020px;   
    max-width:1020px; 
    
}

@keyframes backScreen {
    0% {
        background: url(https://pbs.twimg.com/media/BpDJD2yIMAAi2lx.jpg:large) no-repeat center bottom;
        -webkit-transition: background-image 0.2s linear;
    }
    50% {
        background: url(https://pbs.twimg.com/media/BpDJD2yIMAAi2lx.jpg:large) no-repeat center -150px;
        -webkit-transition: background-image 0.2s linear;
    }
    100% {
        background: url(https://pbs.twimg.com/media/BpDJD2yIMAAi2lx.jpg:large) no-repeat center -250px;
    }
}

@-webkit-keyframes backScreen {
    0% {
        background: url(https://pbs.twimg.com/media/BpDJD2yIMAAi2lx.jpg:large) no-repeat center bottom;
       -webkit-transition: background 0.2s linear;
       -webkit-transform:translate(0px,0px);
    }
    50% {
       
        background: url(https://pbs.twimg.com/media/BpDJD2yIMAAi2lx.jpg:large) no-repeat center -150px;
        border-color:#BBD2E1;
        -webkit-transition: background 0.2s linear;
        -webkit-transform:translate(0px,-150px);
    }
    100% {
        background: url(https://pbs.twimg.com/media/BpDJD2yIMAAi2lx.jpg:large) no-repeat center -250px;
        border-color:#BBD2E1;
        -webkit-transition: background 0.2s linear;
        -webkit-transform:translate(0px,-250px);
    }
}

.txt {
    padding-top:10px;
    max-width:950px;
    width:950px;
    margin:auto;
    text-align:left;
    
}

nav {
   
    margin-top:0px;
    text-align:left;
    font-family:Georgia;
    color : red;
    display:inline-block;
    width:100%;
    min-height:80px;
    height:auto;    
    background:#677179;
 }

section {
    background:#EDEDED;
     max-width: 800px;
     height:100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    top:0;
   

}



h2 {
    //margin-top:0;
    font-family: Verdana;
}

h3 {
    margin-left: 180px;
    max-width:300px;
    color:black;
    font-size:16px;
    font-style:oblique;
    text-shadow: 0px 0px 1px black;
    clear:both;
   
}

fieldset {
    font-family: Verdana;
    margin-left:auto;
    margin-right: auto;
    max-width:600px;
}

label {
    display:inline-block;
    float:left;
    clear:left;
    text-align:right;
    width:80px;

}



.lab1 {
    display:inherit;
    float:right;
    margin-right: 100px;
    clear:right;
    text-align:justify;
    margin-right:auto;
    width:140px;

    
}

input {
    display:inline-block;
    margin-left:auto;
    margin-right:10px ;
   // align-items:center;

    
}

hr{
    margin-bottom:30px;
    font-family:Arial;
    height:1px;


}

footer {
   
}



@media all and (max-width:480px) {

     #navbar {          
         visibility:hidden;
    display:block;
    max-width:400px;
    width:0px;
    margin:auto;
    border-style:solid;
    border-radius: 6px;
    border-color:black;
    
    height:50px;
	text-align:inherit;
   
    box-shadow: black 2px 2px 14px;
	background:#2BFAFA;
    }

    body {
        margin-left:1px;
        margin-right:1px;
    }

    #pageActive {
        width:95%;
    }
    #nomProduit{
        float:inherit;
    }
    #imageProduit {
        margin-left:inherit;
        margin-right:inherit;
        height:140px;
        width:140px;
        margin-top:30px;

    }
    #IMG {
        height:139px;
        width:auto;
    }
    #prixProduit{
        clear:both;
        float:inherit;
        margin-left:auto;
        margin-right:auto;
        width:240px;
        height:300px;
        margin-top:10px;

    }

    #boxPrix{
        margin-top:20px;
    }

    #prixNor{
        font-size:14px;
    }
    #prixRemise{
        font-size:18px;
        margin-top:6px;
    }
    #addListe {
        margin-top:10px;
    }
    #localisation{
        margin-top:10px;
    }
    #item {
        text-align:center;
    }
    hr{
        margin-bottom:15px;
    }

}

@media all and (max-width:1680px) and (min-width:965px) {

    #pageActive {
        width:85%;
        margin-right:5px;
        margin-left:auto;
    }
    #navbar{
        width:10%;
        max-width:15%;
    }
    #descriptionProduit{
        margin-left:1%;
        margin-right:auto;
        padding-left:1%;
        padding-right:1%;
    }
    #imageProduit{
        margin-left:5%;
        margin-right:auto;
    }

}
